*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 216, 216);
  margin: 0;
}

p {
  font-size: 14px;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a.button {
  background-color: #1200ff;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 20px;
  text-decoration: none;
}

.page-title {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 23px;
  line-height: 1.05;
}

.main-header {
  background-color: white;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu-link {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.menu-link:hover {
  opacity: .8;
}

.hero-section {
  background-color: black;
  color: white;
}

.hero-section-wrapper {
  padding: 80px 100px 140px;
}

.hero-header-wrapper {
  padding-bottom: 380px;
}

.hero-section-description {
  max-width: 370px;
  font-size: 20px;
}

